<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all non-existing files/folders to /index.html -->
        <rule name="Redirect to index.html" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <!-- Check if the request is not a real file -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Check if the request is not a real folder -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>